* {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.bg-main {
    background: rgb(97, 61, 193);
    background: linear-gradient(90deg, rgba(97, 61, 193, 1) 0%, rgba(78, 20, 140, 1) 100%);
    color: white;
}

.bg-main:hover {
    color: white;
}

.bgimage {
    width: 100%;
    height: 100vh;
    background: url('images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgimage h1 {
    color: rgb(49, 49, 49);
    margin: 15rem 3rem 2rem 3rem;
    font-size: 2.5rem;
    font-weight: bolder;
}

.bgimage button {
    margin: 0 3rem 3rem 3rem;
    padding: .7rem 3rem;
}

.contact-container {
    background: rgb(97, 61, 193);
    background: linear-gradient(90deg, rgba(97, 61, 193, 1) 0%, rgba(78, 20, 140, 1) 100%);
    display: flex;
    justify-content: center;
}

.contact {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 2rem;
}

.btn-cat {
    padding: .6rem 2rem;
    font-weight: bold;
}

#product-img {
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}

#product-img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#add-to-cart-btn {
    background-color: #613DC1;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    color: white;
}

#add-to-cart-btn:hover {
    background-color: #4E148C;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1450px;
    }
}
  font-family: "Open Sans", sans-serif;
}

.bg-main {
  background: rgb(97, 61, 193);
  background: linear-gradient(
    90deg,
    rgba(97, 61, 193, 1) 0%,
    rgba(78, 20, 140, 1) 100%
  );
  color: white;
}

.bg-main:hover {
  color: white;
}

.navbar {
  height: 80px;
}

.bgimage {
  width: 100%;
  height: 100vh;
  background: url("images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bgimage h1 {
  color: rgb(49, 49, 49);
  margin: 15rem 3rem 2rem 3rem;
  font-size: 2.5rem;
  font-weight: bolder;
}

.bgimage button {
  margin: 0 3rem 3rem 3rem;
  padding: 0.7rem 3rem;
}

/* Start login and sign up styling */
.form-wrapper {
  width: 100%;
  padding: 10%;
  box-shadow: 1px 2px 5px 1px rgb(194, 193, 193);
}
.form-wrapper #sign-up,#login {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  background: linear-gradient(to right, #97dffc 0%, #858ae3 25%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-wrapper p::selection,
.form-wrapper label::selection {
  background-color: transparent;
}
.form-wrapper .btn {
  font-weight: bold;
  color: white;
  border: none;
  background: linear-gradient(to right, #858ae3 0%, #330867 100%);
}
.form-wrapper .btn:hover {
  color: white;
  border: none;
  background: linear-gradient(
    to right,
    #97dffc 0%,
    #858ae3 25%,
    #613dc1 50%,
    #330867 100%
  );
}

@media screen and (max-width: 600px) {
  .form-wrapper {
    padding: 0;
    border: none;
    box-shadow: none;
  }
}
/* End login and sign up styling */
